PORT=5000
MONGODB_URI=mongodb+srv://Monir:ZtDWr8nA63G3Safm@cluster0.qvlffdt.mongodb.net/?retryWrites=true&w=majority
DB_NAME=ecotrack
CLIENT_URL=http://localhost:5173
# To connect to your MongoDB Atlas cluster, you may want to set your MongoDB connection string in the MONGODB_URI variable above.
# Example connection string for MongoDB Atlas:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.qvlffdt.mongodb.net/?retryWrites=true&w=majority
#
# Replace <username> and <password> with your Atlas database credentials.
# For full access and additional connection options, login to https://cloud.mongodb.com/
# const uri = "mongodb+srv://Monir:b6Idb1oIGWaJguaI@ecotrack-server.pnvhcn2.mongodb.net/?appName=Ecotrack-server";